.heading-container{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
}
.name{
    font-size: 30px;
}
.header-options{
    float: right;
    margin-top: 10px;
    color:rgb(204, 200, 200);
}
.header-options2{
    margin: 10px;
}
.image{
    margin:10px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.name-image{
    font-size: 50px;
    margin-left: 30px;
}
.uni-image{
    margin-left: 30px;
    font-size: 20px;
    color: aqua;
}
.icon{
    margin-left: 60px;
    font-size: 30px;
}
.icon-git{
    margin-left: 60px;
    font-size: 30px;
}
.parent{
    display: flex;
}
h1{
    margin: 20px;
    font-size: 40px;
}
.details{
    margin: 20px;
}